# Environments
conda_env/

# Backup/temporal files
*.bkp
test.py
*.pyc
.ipynb_checkpoints
test_cases/
*.pdf

# Data
data/dataset
data/amazon_index
data/paraphrase_dataset
hosts*

# Results
results/

# Credentials
.env
